:host {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .films-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
        gap: 2rem;

        .film {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--film-card-background);
            border-radius: 0.5rem;
            padding: 1rem;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                background-color: var(--film-card-background-hover);
                transform: translateY(-0.25rem);
                box-shadow: 0 0.5rem 1.5rem var(--film-card-shadow-hover);

                .film__image {
                    border-color: var(--film-card-border-hover);
                }

                .film__details .name {
                    color: var(--film-name-hover-color);
                }
            }

            &__image {
                width: 100%;
                max-width: 13rem;
                aspect-ratio: 2 / 3;
                object-fit: cover;
                border: 0.2rem solid var(--film-border-color);
                border-radius: 0.25rem;
                transition: all 0.3s ease;
                box-shadow: 0 0.25rem 0.75rem var(--film-card-shadow);
            }

            &__details {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.2rem;
                font-size: 1rem;
                font-weight: 600;
                padding: 0.5rem 0;
                width: 100%;

                .name {
                    display: flex;
                    align-items: center;
                    font-size: 1.1rem;
                    height: 3rem;
                    color: var(--film-name-color);
                    transition: color 0.3s ease;
                    text-align: center;
                }

                .year {
                    color: var(--film-year-color);
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
        }

        .empty {
            font-size: 1.2rem;
        }
    }
}
